################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Solution/.vs/Solution
/Solution/test/bin/Debug/net6.0
/Solution/test/obj
